<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Vidjot App</title>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: 2429520900657336,
                xfbml: true,
                version: "v3.2"
            });
            FB.Event.subscribe('messenger_checkbox', function (e) {
                console.log("messenger_checkbox event");
                console.log(e);
                if (e.event == 'rendered') {
                    console.log("Plugin was rendered");
                } else if (e.event == 'checkbox') {
                    var checkboxState = e.state;
                    console.log("Checkbox state: " + checkboxState); // i think whether checked OR unchecked
                } else if (e.event == 'not_you') {
                    console.log("User clicked 'not you'");
                } else if (e.event == 'hidden') {
                    console.log("Plugin was hidden");
                }
            });
        };
        (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
            fjs.parentNode.insertBefore(js, fjs);
        })(document, "script", "facebook-jssdk");

        function confirmOptIn() {
            console.log('Confirm Btn Pressed');
            const checkboxElement = document.querySelector('.fb-messenger-checkbox');
            const user_ref = checkboxElement.getAttribute('user_ref');

            console.log('user_ref: ' + checkboxElement.getAttribute('user_ref'));
            FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
                'app_id': '2429520900657336',
                'page_id': '139271929820098',
                'ref': 'elagate_user',
                'user_ref': user_ref
            });
        }
    </script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution="setup_tool" page_id="139271929820098" theme_color="#0084ff"></div>

    {{> _navbar}}
    <div class="container">
        {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>