<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Jot down ideas for your next Youtube Videos</p>
    <a class="btn btn-lg btn-dark" href="/ideas/add">Add Video Idea</a>
</div>



{{!-- Check-box plugin --}}
<div class="fb-messenger-checkbox" origin="https://quiet-mountain-63725.herokuapp.com/" page_id="139271929820098"
    messenger_app_id="2429520900657336" user_ref="{{uniqueID}}" size="large" skin="light" center_align="true"
    prechecked="true" allow_login="true">
</div>

<input type="button" onclick="confirmOptIn()" value="Confirm Opt-in" />